.post-editor-btn {
  display: flex;
  align-items: center;
}

.post-editor-btn > span {
  margin-left: 1.2rem;
  cursor: pointer;
}
.post-creator {
  padding: 1.2rem 1.5rem;
  border: 1px solid var(--medium-gray);
  border-radius: 0.8rem;
  width: 100%;
  box-shadow: var(--box-shadow-value);
  height: max-content;
}

.post-editor-btn:hover {
  color: var(--blue);
}

.text-editor-btn-group {
  display: flex;
  justify-content: end;
  margin-top: 1.2rem;
}

.text-editor-btn-group > button {
  margin-left: 0.7rem;
}

.text-editor > p {
  color: var(--blue);
}

.ql-container {
  max-height: 300px;
  overflow: auto;
}
