.grade-review-container {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  height: 100%;
}
.grade-review-header {
  width: 100%;
  border-bottom: 1px solid var(--medium-gray);
}

.grade-review-body {
  height: 100%;
  display: flex;
}

@media (max-width: 600px) {
  .grade-review-body {
    flex-direction: column;
  }
}
