.class-tab {
  display: flex;
}
.class-tab-item {
  display: flex;
  align-items: center;
  padding: 23px;
  cursor: pointer;
}
.class-tab-item:hover {
  background-color: var(--light-gray);
}
.class-tab-item-selected {
  display: flex;
  align-items: center;
  padding: 23px;
  color: var(--blue);
  border-bottom: 5px solid var(--blue);
  cursor: pointer;
}
.class-tab-item-selected:hover {
  background-color: var(--light-blue);
}
