.card-detail-edit-grade{
    height: 11.5rem;
    border-radius: 1rem;
}

.card-edit-grade:hover{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
}

.text-grade-title-edit-grade{
    font-size:1.1rem;
}

.text-grade-point-edit-grade{
    font-size:1.1rem;
}

.btn-create-new-edit-grade{
    font-size:0.8rem;
    background-color:rgba(13, 58, 220, 0.7);
    border: transparent;
    padding:0.25rem 1rem 0.2rem 1rem;
    border-radius: 0.8rem;
    font-weight: bold;
    color:white;
    transition: 0.7s ease-in-out;

}

.btn-create-new-edit-grade:hover{
    background-color:rgb(13, 58, 220,1);
}

.btn-circle-edit-grade{
    margin-bottom:0.1rem;
    margin-right:0.1rem;
    border-radius:1rem;
    width:1.8rem;
    height:1.8rem;
    transition: 0.8s ease-in-out;
    background-color: white;
    border:transparent
}

.btn-warning-edit-grade{
    border:transparent;
    color:orange;
}

.btn-warning-edit-grade:hover{
    background: #ffcc00;
    color:white;
    border:transparent;
}

.btn-success-edit-grade{
    border:transparent;
    color:green;
}

.btn-success-edit-grade:hover{
    background:green;
    color:white;
    border:transparent;

}

.btn-danger-edit-grade{
    border:transparent;
    color:red;
}

.btn-danger-edit-grade:hover{
    background:red;
    color:white;
    border:transparent;

}

.AiOutlinePlusSquare{
    width: 2rem;
}