.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-bottom-width) solid var(--light-gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  height: 65px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.nav-bar-left-item {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.nav-bar-left-right {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.nav-bar-notification {
  position: absolute;
  top: 15px;
  right: 5px;
}

.nav-bar-brand-name {
  font-size: 2rem;
  color:blue;
  font-weight: bold;
}

.btn-floating {
  border-radius: 50%;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: 0px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-floating:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
