@media  (max-width: 600px){
    .fill-form {
        width:70vw!important;
    }
}

@media  (max-width: 767px) {
    .fill-form {
        width:60vw!important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .fill-form {
        width:50vw!important;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .fill-form {
        width:40vw!important;
    }
}

@media (min-width: 1281px) {
    .fill-form {
        width:25vw!important;
    }
  }

.toast{
    position:fixed!important;
    right: 0!important;
    top:0!important;
}