.profile-card {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem 4rem;
  width: max-content;
  border: 1px solid var(--medium-gray);
  border-radius: 10px;
}
.profile-header {
  border-bottom: 1px solid var(--medium-gray);
  padding: 1.2rem 0;
}
.user-form {
  margin-top: 1rem;
}

.user-profile {
  display: flex;
  flex-wrap: wrap-reverse;
}

.user-avatar {
  margin-left: 5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .profile-card {
    padding: 1rem;
  }
  .user-avatar {
    margin-left: 1rem;
  }
}
