.profile-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: max-content;
}
.profile-header {
  border-bottom: 1px solid var(--medium-gray);
  padding: 1.2rem 0;
}
.user-form {
  margin-top: 1rem;
  max-width: 300px;
}

.user-profile {
  display: flex;
}

.user-avatar {
  margin-left: 5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .profile-card {
    padding: 1rem;
  }
  .user-avatar {
    margin-left: 1rem;
  }
  .user-profile {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 300px) {
  .user-profile {
    max-width: 250px;
  }
}
