.class-info {
  background-color: var(--blue);
  color: #ffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  height: 12rem;
}

.see-member-btn {
  background-color: #ffff;
  text-align: center;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--blue);
}

.class-post {
  display: flex;
  padding: 20px 0px;
}
