.offcanvas-start {
  width: 300px !important;
}

.container {
  padding-top: 70px;
}

.center-vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-horizontal {
  display: flex;
  align-items: center;
}

.btn-floating {
  margin: 0 !important;
}

.pop-up-item {
  border: none;
  background: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pop-up-item:hover {
  background: var(--hover-color);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .offcanvas-start {
    width: 250px !important;
  }
}
