.card-brand{
    font-size: 2rem;
}

.text-title{
    font-size: 1.3rem;
}

.text-email{
    font-size:1.2rem;
}

.text-display-name{
    font-size:1.2rem;
}

.text-display-name{
    font-size:1.2rem;
}