.sidebar-item {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px 0px;
  margin-right: 10px;
  cursor: pointer;
}

.item-content {
  margin-left: 20px;
}
.sidebar-item:hover {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--light-gray);
}

.sidebar-item-selected {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px 0px;
  margin-right: 10px;
  cursor: pointer;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--light-blue);
}

.avatar-item {
  padding: 10px;
  margin: 10px 0px;
  margin-right: 10px;
  border-bottom: 0.0625rem solid var(--light-gray);
  width: 100%;
  display: flex;
  align-items: center;
}

.avatar-item-selected {
  padding: 10px;
  margin: 10px 0px;
  margin-right: 10px;
  border-bottom: 0.0625rem solid var(--light-gray);
  background-color: var(--light-blue);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-info > span:first-child {
  font-weight: bold;
}
