:root {
  --light-blue: #e8f0fe;
  --light-gray: #e0e0e0;
  --blue: #3178c6;
  --link: #3c4043;
  --border-bottom-width: 0.0625rem;
  --loading-background: rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-family: Rooster;
  src: url('./assets/fonts/Rooster.ttf');
}

html {
  font-size: 16px;
}

body {
  font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif !important;
  letter-spacing: 0.5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: var(--link) !important;
}

.offcanvas-start {
  width: 300px !important;
}
h4 {
  margin-bottom: 0 !important;
}

.container {
  padding-top: 70px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  .offcanvas-start {
    width: 250px !important;
  }
}
