:root {
  --light-blue: #e8f0fe;
  --light-gray: #e0e0e0;
  --medium-gray: #dadce0;
  --blue: #1967d2;
  --link: #3c4043;
  --border-bottom-width: 0.0625rem;
  --loading-background: rgba(0, 0, 0, 0.6);
  --hover-color: rgba(32, 33, 36, 0.039);
  --box-shadow-value: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 2px 6px 2px rgb(60 64 67 / 15%);
}

@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-family: Rooster;
  src: url('./assets/fonts/Rooster.ttf');
}

html {
  font-size: 14px;
}

body {
  font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial,
    sans-serif !important;
  letter-spacing: 0.5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: var(--link) !important;
}

h4 {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--medium-gray);
}
