@media  (max-width: 767px) {
    .fill-form {
        width:55vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .fill-form {
        width:45vw!important;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .fill-form {
        width:35vw!important;
    }
}

@media (min-width: 1281px) {
    .fill-form {
        width:30vw!important;
    }
  }
